@import "~theme/vars.scss";

.Icon {
  position: relative;
	display: inline-block;
	vertical-align: middle;
  margin: 0;
  max-width: 1em;
  width: 1em;
  height: 1em;
  line-height: 0;

  img, svg {
    /* max-width: 100%;
    width: 4rem;
    height: auto;
    vertical-align: middle; */
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &__holder {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-bottom: 100%;
  }
  &__action {
    cursor: pointer;
    color: $gray25;
    &:hover {
      color: $brandDeepPurple;
    }
  }

  &--notification:after {
    content: '';
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 2px solid white;
    background-color: $brandRed;
    position: absolute;
    top: -.3em;
    right: 0;
  }
  &.spin {
    animation: spinner 1s cubic-bezier(.19,.49,.9,.63) infinite;
  }
  & + & {
    margin-left: 1em;
  }

  /*
  Sizes
  */
  &__fontsize, &__tiny, &__small, &__medium, &__large, &__extralarge, &__huge {
    max-width: none;
  }

  &__fontsize {
    width: $iconFontSize;
    height: $iconFontSize;
  }
  &__tiny {
    width: $iconXS;
    height: $iconXS;
  }
  &__small {
    width: $iconS;
    height: $iconS;
  }
  &__medium {
    width: $iconM;
    height: $iconM;
  }
  &__large {
    width: $iconL;
    height: $iconL;
  }
  &__extralarge {
    width: $iconXL;
    height: $iconXL;
  }
  &__huge {
    width: 80px;
    height: 80px;
  }
  //


  /*
    Special icons
  */
  &__warning { color: $brandYellow; }
  &__info { color: $brandDeepBlue; }
  &__error { color: $brandRed; }
  &__checkmark { color: $brandGreen; }
  //

  &--square {
    max-height: 1em;
    line-height: 1em;
  }

  /*
    Colors
  */
  &--normal { color: $brandDeepPurple; }
  &--faded { color: $fadedText; }
  &--white { color: white; }
  &--yellow { color: $brandYellow; }
  &--blue { color: $brandDeepBlue; }
  &--red { color: $brandRed; }
  &--gray25 { color: $gray25; }
  //
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
